{{# partial "titulo" }}	
	<title>¿Qué comemos?</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>Bienvenido ¿Qué comemos?</h1>
</div>	

<!--<div class="pull-right">
  <a class="btn btn-warning"   href="/recetas">Ver recetas</a>
</div>
-->

{{/partial}}
				
{{> layout.hbs }}